.novalista2 {
    background-color: red;
}

.list3 {
    background-color: yellow;
}


.newlist {
    background-color: green;
    text-transform: uppercase;
}

.active {
    background-color: gray;
}

.new123 {
    color: green;
}