$color: red;
$main-background-color:rgb(192, 241, 227);
$background-container-color:rgb(103, 207, 255);
$padding1:20px 0;
$padding2:5px 0;
$color3:rgb(228, 171, 171);
$width:960px;
$font-family1:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;