.darkmode {
  background: navy;
}

.dark1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 1em;
  background: red;
  color: white;
  font-size: 25px;
  border-radius: 4%;
}
.turnoff {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: none;
  color: orange;
  padding: 1em;
  background: orange;
  color: white;
  font-size: 25px;
  border-radius: 4%;
}
